#body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'VT323', monospace;
    background-color: #414141;
}

.game-border{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1024px;
    max-width: 80vw;
    height: 768px;
    max-height: 80vh;
    background-color: antiquewhite;
    padding: 32px;
    border: #4d7a99 solid 10px;
    border-radius: 32px;
    box-shadow: inset 0 0 0 10px #a7bd70;
}

.game-container{
    border: #4d7a99 solid 8px;
    width: 98%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50%;
}

.panel{
    background-color: #c4c0c0;
    border: #4c4d4a solid 1px ;
    padding: 16px;
}

.game-title{
    text-align: center;
    font-size: 3vh;
}

.game-instructions > li{
    font-size: 1.5vh;
}

#game-board{
    background-color: #f2faff;
    margin: 0 auto;
    width: 28vh;
    height: 28vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

#game-board > div{
    border: black solid 1px;
}

.bg-white{
    background-color: white;
}

#alg-board{
    background-color: #f2faff;
    border-radius: 8px;
    border: #414141 solid 1px;
    margin: 0 auto;
    width: 40vh;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#opt-board{
    margin: 0 auto;
    width: 40vh;
    height: 15vh;
    display: grid;
    flex-direction: row;
    gap: 4px;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
}

button{
    font-size: 1.4vh;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding: 16px;    
}

#opt-board > button{
    background-color: #4d7a99;
}

#start-game{
    margin-top: 1rem;
    background-color: #1f6537;
    border-radius: 12px;
    border: none;
    font-size: 1.4vh;
}

#start-game:hover{
    box-shadow: inset 2px 2px 8px #A7BD75;
}

#start-game:disabled{
    background-color: #6e8b7d;
    border-radius: 12px;
    border: none;
    font-size: 18px;
    color: #fff;
}

#desistir{
    margin-top: 1rem;
    background-color: #861d1d;
    border-radius: 12px;
    border: none;
    font-size: 1.4vh;
}

#desistir:hover{
    box-shadow: inset 2px 2px 8px #b83232;
}

#desistir:disabled{
    background-color: #6e8b7d;
    border-radius: 12px;
    border: none;
    font-size: 18px;
    color: #fff;
}

.options{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#algorithm{
    padding: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.btn-algorithm{
    background-color: #ff0000;
    color: white;
    border-radius: 4px;
    padding: 2px 2px;
    font-size: 12px;
    font-weight: bold;
    margin: 2px;    
}

.robot{
    background-color: red;
}

.final{
    background-color: blue;
}

.obstacle{
    background-color: #4c4d4a;
}